<!doctype html>

<html lang="js">

<head>
  <meta charset="utf-8">
  <title>RDB別 複製（コピー）テーブル作成ツール</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

  <style>
    header {
      background: #333;
      color: #fff;
      margin-bottom: 20px;
    }

    .uk-tile {
      background: #f5f5f5 !important;
    }

    .uk-tile .uk-form-label {
      font-weight: bold;
      color: #777;
    }

    .uk-tile hr {
      border-top: 1px solid rgba(0, 0, 0, .14);
    }

    .clipmessage {
      position: fixed;
      right: 0;
      bottom: 0;
      background: rgba(128, 228, 141, 0.5);
    }
  </style>

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <header>
    コピーテーブル作成SQL生成ツール
  </header>

  <div id="app">

    <div class="uk-container uk-margin">
      <h2>入力</h2>
      <div class="uk-tile uk-padding-small">
        <form class="uk-form-stacked">
          <div>
            <label class="uk-form-label" for="form-stacked-text">元のテーブル名</label>
            <div class="uk-form-controls">
              <input class="uk-input uk-width-large uk-width-expand@s" v-model="copy_from" id="form-stacked-text"
                type="text">
            </div>
          </div>
          <hr />
          <div>
            <label class="uk-form-label" for="form-stacked-text">コピー先テーブル名</label>
            <div class="uk-form-controls uk-margin-small">
              <div class="uk-margin-small">
                <label><input class="uk-radio" type="radio" value="yyyymmdd" v-model="mode" />&nbsp;元のテーブル名_YYYYMMDD
                  <small class="uk-text-muted">(現在日付)</small></label><br>
              </div>

              <div class="uk-margin-small">
                <label><input class="uk-radio" type="radio" value="yymmdd" v-model="mode" />&nbsp;元のテーブル名_YYMMDD <small
                    class="uk-text-muted">(現在日付)</small></label><br>
              </div>
              <!--名称直接入力-->
              <div class="uk-margin-small">
                <input class="uk-radio" type="radio" value="input" v-model="mode" />
                <input class="uk-input uk-form-width-large"　v-bind:disabled="mode!='input'" v-model="copy_to_input" type="text" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="uk-container">
      <h2>出力</h2>
      <div class="uk-tile uk-padding-small">

        <form class="uk-form-stacked">
          <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>

            <div>
              <label class="uk-form-label" for="form-stacked-text">SQL Server</label>
              <div class="uk-form-controls ">
                <div class="uk-inline uk-width-expand">

                  <a class="uk-form-icon uk-form-icon-flip" href="#" 
                      @click.prevent="copy('sqlserver')" uk-icon="icon: copy"></a>
                  <input ref="sqlserver" class="uk-input " v-model="sqlServer" readonly type="text">
                </div>
              </div>
            </div>

            <div>
              <label class="uk-form-label" for="form-stacked-text">Oracle</label>
              <div class="uk-form-controls">
                <div class="uk-inline uk-width-expand">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" 
                     @click.prevent="copy('oracle')" uk-icon="icon: copy"></a>
                  <input ref="oracle" class="uk-input" v-model="oracle" readonly type="text">
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div>
              <label class="uk-form-label" for="form-stacked-text">PostgreSQL</label>
              <div class="uk-form-controls">
                <div class="uk-inline uk-width-expand">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" 
                    @click.prevent="copy('postgresql')" uk-icon="icon: copy"></a>
                  <input ref="postgresql" class="uk-input" v-model="postgreSQL" readonly type="text">
                </div>
              </div>
            </div>

            <div>
              <label class="uk-form-label" for="form-stacked-text">MySQL</label>
              <div class="uk-form-controls">
                <div class="uk-inline uk-width-expand">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" 
                      @click.prevent="copy('mysql')" uk-icon="icon: copy"></a>
                  <input ref="mysql" class="uk-input " v-model="mySQL" readonly type="text">
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div>
              <label class="uk-form-label" for="form-stacked-text">SQLite</label>
              <div class="uk-form-controls">
                <div class="uk-inline uk-width-expand">
                  <a class="uk-form-icon uk-form-icon-flip" href="#" 
                      @click.prevent="copy('sqlite')" uk-icon="icon: copy"></a>
                  <input ref="sqlite" class="uk-input " v-model="sqLite" readonly type="text">
                </div>
              </div>
            </div>
            <div>
              <!--dummybox-->
            </div>
          </div>
        </form>
      </div>
    </div>

    <div v-if="clipmessage" class="clipmessage">クリップボードにコピーしました！</div>
  </div>


  <!-- VUE-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="app.js"></script>
</body>

</html>